.App {
  text-align: center;
  margin-top: 50px;
  display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


table,th,td{
  border: 1px solid black;
    border-collapse: collapse;
    padding:10px
}
table{
  width:90vw
}
.row{
  flex-direction: row;
  display: flex;
  margin:10px;
  width:90vw;
  justify-content: space-between;
}
input{
  padding:10px;
  width:30vw;
}
select{
  width: 10vw;
    padding: 10px;
}
img{
  width:12px;
  height:12px
}
